body {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #3E3E3E;
    background-color: #F1F1F1;
}

a {
    color: #126E8E;
    text-decoration: none;
}

a:hover,
a:hover::after,
a:hover::before {
    color: #218EB4;
    text-decoration: none;
    -webkit-transition: all 100ms linear 0s;
       -moz-transition: all 100ms linear 0s;
        -ms-transition: all 100ms linear 0s;
         -o-transition: all 100ms linear 0s;
            transition: all 100ms linear 0s;
    -webkit-transition-property: color, background-color;
       -moz-transition-property: color, background-color;
        -ms-transition-property: color, background-color;
         -o-transition-property: color, background-color;
            transition-property: color, background-color;
}

h1 > .small {
    font-size: .55em;
    color: #386E81;

}

.container {
    padding: 0 15px 15px;
}

div#content > div.container > div.row form#mainForm {
    margin-bottom: 15px;
}

pre {
    border: 1px solid #D8D8D8;
    padding: 10px 20px;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monospace;
    background-color: #F9F9F9;
    display: inline-block;
}

pre code {
    white-space: pre-wrap;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}

input[type="submit"],
input[type="text"],
input[type="url"],
textarea,
select {
    border: 1px solid #D8D8D8;
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 400;
    vertical-align: middle;
    transition: all .3s ease;
    background-color: #F9F9F9;
}

input[type="submit"],
input[type="text"],
input[type="url"] {
    white-space: nowrap;
}

input[type="submit"] {
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
}

input[type="submit"]:hover {
    background-color: #F1F1F1;
}

#mainForm > fieldset,
#output {
    padding: 15px;
}

#mainForm > fieldset > *:not(:last-child),
#output > *:not(:last-child) {
    margin-bottom: 15px;
}

#bma-hash {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

#output {
    display: block;
    margin: 0 auto;
}

label[for="bma-serial"],
label[for="bma-hextoken"],
label[for="bma-token"],
#bma-serial,
#bma-token,
#bma-hextoken {
    vertical-align: middle;
    display: none;
}

label[for="bma-serial"],
label[for="bma-hextoken"],
label[for="bma-token"] {
    text-align: right;
    width: 130px;
}

#bma-serial,
#bma-token,
#bma-hextoken {
    box-sizing: border-box;
    margin-left: 15px;
    width: calc(100% - 130px - 15px);
}

